NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_WS_URL=ws://localhost:3001
NEXT_PUBLIC_CONTRACT_ADDRESS=0xAa8E680c11a883F9bf6eb980B2D4E9D18DD25686
NEXT_PUBLIC_ALCHEMY_API_URL=https://eth-sepolia.g.alchemy.com/v2/demo
NEXT_PUBLIC_ADMIN_TOKEN=
